body {
    color: yellow;
    background-color: #000099;
}

p {
    font-size: 200%;
    font-style: italic;
}

.clockclass {
    font-weight: bold;
    text-align: center;
}

#time {
   font-size: 200%;
    font-weight: bold;
    text-align: center;
}
