body {
    color: yellow;
    background-color: #000099;
}

p {
    font-size: 200%;
    font-style: italic;
}

.clockclass {
    font-weight: bold;
    text-align: center;
}

#time {
   font-size: 200%;
    font-weight: bold;
    text-align: center;
}

#alarm {
   font-size: 100%;
    font-weight: bold;
    text-align: center;
}

#forecastLabel {
   text-align: center;
}

#forecastIcon {
   display: block;
   margin-left: auto;
   margin-right: auto;
}


.cold {
    background-color: #95A5A6;
}

.chilly{
    background-color: #1ABC9C;
}

.nice {
    background-color: #2980B9;
}

.warm {
    background-color: #E67E22;
}

.hot {
    background-color: #E74C3C;
}
